<template>
  <ElCard :body-style="{ padding: 0 }">
    <div class="card-title">
      <ElButton
        type="text"
        icon="el-icon-arrow-left"
        @click="$router.push({ name: 'packages.details', params: { id: $route.params.id } })"
      >
        Kembali
      </ElButton>
      <h3>Detail Buku</h3>
    </div>
    <div class="card-content">
      <div class="book-general">
        <ElRow>
          <ElCol
            :sm="12"
            :xs="24"
          >
            <ElImage
              class="image"
              :src="item.photo"
            >
              <div slot="error">
                <ElImage
                  class="image"
                  :src="defaultImg"
                />
              </div>
            </ElImage>
          </ElCol>
          <ElCol
            :sm="12"
            :xs="24"
          >
            <small>
              {{ authors.title }} {{ authors.firstName }} - HOMPES
            </small>
            <h1>{{ item.title }}</h1>
            <p>{{ item.description }}</p>
          </ElCol>
        </ElRow>
      </div>
      <ElDivider />
      <div class="section-list">
        <ElRow>
          <div
            class="section-group"
            v-for="(section, index) in sections"
            :key="index"
          >
            <div class="section-title">
              {{ section.title }}
            </div>
            <div
              class="section-item"
              v-for="(content, index) in section.contents.data"
              :key="index"
            >
              <h4>{{ content.title }}</h4>
              <div class="section-detail">
                <ul>
                  <li>
                    <i class="el-icon-timer" />{{ content.duration }} {{ content.durationUnit }}
                  </li>
                  <li>
                    <i class="el-icon-document-checked" />{{ content.type }}
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </ElRow>
      </div>
    </div>
  </ElCard>
</template>

<script>
import { mapState, mapActions } from 'vuex'

export default {
  name: 'BookDetail',

  computed: {
    ...mapState({
      item: state => state.book.book,
      loading: state => state.book.isFinding,
      error: state => state.book.isFindingError
    }),

    authors () {
      return this.item.authors ? this.item.authors.data[0] : []
    },

    sections () {
      return this.item.sections ? this.item.sections.data : []
    }
  },

  data () {
    return {
      defaultImg: process.env.VUE_APP_DEFAULT_IMAGE
    }
  },

  methods: {
    ...mapActions({
      find: 'book/find'
    })
  },

  async mounted () {
    await this.find(this.$route.params.bookId)
  }
}
</script>

<style scoped lang="scss">
@import '@/assets/styles/variables.scss';

.el-card {
  border-radius: 8px;
  margin-top: 10px;

  .book-general {
    padding: 20px;

    h1 {
      margin: 0;
    }

    .image {
      width: 300px;
      height: 200px;
    }
  }

  .card-title {
    min-height: 20px;
    background-color: $main-purple;
    padding: 8px 20px;
    color: white;
    display: flex;

    .el-button {
      color: #74d1c6;
    }

    h3 {
      padding-left: 10px;
    }
  }

  .el-divider {
    margin: 0;
  }

  .section-group {
    margin: 15px 0;
    padding: 0 20px;

    .section-title {
      background: #f8f8f8;
      border: 1px solid #e0e5e9;
      padding: 10px;
      font-weight: 600;
    }

    .section-item {
      padding: 20px 10px;
      border: 1px solid #e0e5e9;
      border-top: none;

      h4 {
        margin: 5px;
      }

      .section-detail {
        min-height: 40px;

        ul {
          padding: 0;
          padding-left: 5px;
          margin-bottom: 5px;
          list-style-type: none;

          li {
            float: left;
            margin-right: 10px;
          }
        }
      }
    }
  }
}
</style>
