<template>
  <AppLayout>
    <template #toolbar>
      <h2>Halaman Penulis</h2>
    </template>
    <ElRow :gutter="20">
      <ElCol
        :sm="6"
        :xs="24"
      >
        <UserProfileCard />
      </ElCol>
      <ElCol
        :sm="18"
        :xs="24"
      >
        <ElTabs type="card">
          <ElTabPane label="Buku Saya">
            <ElRow>
                <ElCard
                  v-for="book in books"
                  :key="book.id"
                  class="book-item"
                >
                  <ElRow :gutter="10">
                    <ElCol
                      :span="4"
                      :lg="4"
                      :sm="24"
                      :xs="24"
                    >
                      <ElImage
                        :src="book.photo"
                        class="rounded-img"
                      >
                        <div slot="error">
                          <ElImage
                            :src="defaultImg"
                            class="rounded-img"
                          />
                        </div>
                      </ElImage>
                    </ElCol>
                    <ElCol
                      :span="20"
                      :lg="20"
                      :sm="24"
                      :xs="24"
                    >
                      <small>HOMPES</small>
                      <h3 class="title">{{ book.title }}</h3>
                      <p class="description">{{ book.description }}</p>
                    </ElCol>
                  </ElRow>
                </ElCard>
              </ElRow>
          </ElTabPane>
          <ElTabPane label="Daftar Pertanyaan">
            <ElCard
              v-for="(question, index) in questions"
              :key="index"
            >
              <div class="card-toolbar">
                <small>
                  Konten {{ question.content.data.title }}<br>{{ question.createdAt | extendedDate }}
                </small>
                <div class="icon">
                  <div v-if="question.answers.data.length > 0">
                    Sudah Dijawab <i class="el-icon-circle-check" />
                  </div>
                </div>
              </div>
              <h4>
                {{ question.title }}
              </h4>
              <p>
                {{ question.description }}
              </p>
              <div class="answer-box">
                <ElButton
                  size="small"
                  type="success"
                  @click="showDialog(question)"
                >
                  Tambah Jawaban
                </ElButton>
              </div>
            </ElCard>
          </ElTabPane>
        </ElTabs>
      </ElCol>
    </ElRow>
    <AnswerFormDialog
      ref="answerDialog"
      v-model="isShowAnswerDialog"
      @success="refetch"
    />
  </AppLayout>
</template>

<script>
import AppLayout from '@/components/layout/AppLayout'
import UserProfileCard from '@/components/modules/User/UserProfileCard'
import AnswerFormDialog from '@/components/modules/Answer/AnswerFormDialog'
import { mapActions, mapState } from 'vuex'
import { extendedDate } from '@/filters/date'

export default {
  name: 'MyProfile',

  components: {
    AnswerFormDialog,
    AppLayout,
    UserProfileCard
  },

  computed: {
    ...mapState({
      books: state => state.author.books,
      questions: state => state.author.questions
    })
  },

  data () {
    return {
      isShowAnswerDialog: false,
      defaultImg: process.env.VUE_APP_DEFAULT_IMAGE
    }
  },

  filters: {
    extendedDate
  },

  methods: {
    ...mapActions({
      getBooks: 'author/getBooks',
      getQuestions: 'author/getQuestions'
    }),

    showDialog (question) {
      this.$refs.answerDialog.setQuestion(question)
      this.isShowAnswerDialog = true
    },

    async refetch () {
      await this.getBooks()
      await this.getQuestions()
    }
  },

  async mounted () {
    await this.getBooks()
    await this.getQuestions()
  }
}
</script>

<style lang="scss" scoped>
.rounded-img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.title {
  margin: 0;
}

.card-toolbar {
  display: flex;
  justify-content: space-between;

  small {
    font-style: italic;
  }
}
</style>
