<template>
  <ElDialog
    :visible="value"
    @close="handleClose"
    width="40%"
  >
    <template #title>
      Tambah Pertanyaan
    </template>
    <ElForm>
      <ElAlert
        v-if="error"
        type="error"
        effect="dark"
        title="Gagal menambah pertanyaan"
      />
      <AppForm :validator="$v.form">
        <AppFormItem
          label="Judul"
          name="title"
        >
          <ElInput
            v-model="form.title"
            @input="$v.form.title.$touch()"
          />
        </AppFormItem>
        <AppFormItem
          label="Deskripsi"
          name="description"
        >
          <ElInput
            type="textarea"
            :rows="3"
            v-model="form.description"
            @input="$v.form.description.$touch()"
          />
        </AppFormItem>
        <AppFormItem>
          <ElButton
            type="success"
            v-loading="loading"
            :disabled="$v.form.$invalid"
            @click="handleSubmit"
          >
            Tambah
          </ElButton>
        </AppFormItem>
      </AppForm>
    </ElForm>
  </ElDialog>
</template>

<script>
import { required } from 'vuelidate/lib/validators'
import { mapState, mapActions } from 'vuex'

export default {
  name: 'QuestionFormDialog',

  props: {
    value: {
      type: Boolean,
      required: true
    }
  },

  computed: {
    ...mapState({
      loading: state => state.myBook.isStoringQuestion,
      error: state => state.myBook.isStoringQuestionError
    })
  },

  data () {
    return {
      form: {
        title: '',
        description: ''
      }
    }
  },

  methods: {
    ...mapActions({
      storeQuestion: 'myBook/storeQuestion'
    }),

    handleClose () {
      this.$emit('input', false)
      this.$v.form.$reset()
    },

    async handleSubmit () {
      const payload = {
        ...this.form,
        contentId: this.$route.params.contentId
      }

      await this.storeQuestion(payload)

      if (this.error) return

      this.handleClose()
      this.$emit('success')
    }
  },

  validations: {
    form: {
      title: { required },
      description: { required }
    }
  }
}
</script>
