<template>
  <ElForm>
    <ElAlert
      v-if="error"
      type="error"
      effect="dark"
      title="Gagal mengubah password!"
    >
      {{
        error.message == 'Current password is wrong!'
          ? 'Password lama anda salah!'
          : 'Terjadi kesalahan, lakukan lagi dalam beberapa saat'
      }}
    </ElAlert>
    <ElAlert
      v-if="success"
      type="success"
      effect="dark"
      title="Mengubah password berhasil!"
    />
    <AppForm :validator="$v.form">
      <AppFormItem
        label="Password Sekarang"
        name="currentPassword"
      >
        <ElInput
          v-model="form.currentPassword"
          show-password
          @input="$v.form.currentPassword.$touch()"
        />
      </AppFormItem>
      <AppFormItem
        label="Password Baru"
        name="newPassword"
      >
        <ElInput
          v-model="form.newPassword"
          show-password
          @input="$v.form.newPassword.$touch()"
        />
      </AppFormItem>
      <AppFormItem
        label="Konfirmasi Password Baru"
        name="confirmationPassword"
      >
        <ElInput
          v-model="form.confirmationPassword"
          show-password
          @input="$v.form.confirmationPassword.$touch()"
        />
      </AppFormItem>
      <AppFormItem>
        <ElButton
          v-loading="loading"
          :disabled="$v.form.$invalid"
          type="success"
          @click="changePassword(form)"
        >
          Ubah Password
        </ElButton>
      </AppFormItem>
    </AppForm>
  </ElForm>
</template>

<script>
import { required, sameAs } from 'vuelidate/lib/validators'
import { mapState, mapActions, mapMutations } from 'vuex'

export default {
  name: 'UserUpdatePasswordForm',

  computed: {
    ...mapState({
      loading: state => state.auth.isChangingPassword,
      success: state => state.auth.isChangingPasswordSuccess,
      error: state => state.auth.isChangingPasswordError
    })
  },

  data () {
    return {
      form: {
        currentPassword: '',
        newPassword: '',
        confirmationPassword: ''
      }
    }
  },

  methods: {
    ...mapActions({
      changePassword: 'auth/changePassword'
    }),

    ...mapMutations({
      reset: 'auth/resetChangingPassword'
    })
  },

  destroyed () {
    this.$v.form.$reset()
    this.reset()
  },

  validations: {
    form: {
      currentPassword: { required },
      newPassword: { required },
      confirmationPassword: {
        required,
        passwordSameAs: sameAs('newPassword')
      }
    }
  }
}
</script>
