<template>
  <ElCard>
    <div class="profile-wrapper">
      <div class="avatar">
        {{ avatarText }}
      </div>
      <h3>{{ loggedUser.name }}</h3>
      <small>{{ loggedUser.email }}</small>
    </div>
  </ElCard>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'UserProfileCard',

  computed: {
    ...mapState({
      loggedUser: state => state.auth.loggedUser
    }),

    avatarText () {
      const name = this.loggedUser.name
      const splittedName = name.split(' ')

      if (splittedName.length === 1) return splittedName[0][0]

      return splittedName[0][0] + splittedName[1][0]
    }
  }
}
</script>

<style lang="scss">
@import '@/assets/styles/variables.scss';

.el-card {
  margin-bottom: 10px;

  .profile-wrapper {
    text-align: center;
  }

  .avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: $main-grey;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin: 0 auto;
  }
}
</style>
