<template>
  <ElForm>
    <ElAlert
      v-if="error"
      type="error"
      effect="dark"
      title="Gagal mengubah profil!"
    />
    <AppForm :validator="$v.form">
      <AppFormItem label="Email">
        <ElInput
          v-model="form.email"
          disabled
        />
      </AppFormItem>
      <AppFormItem
        label="Nama"
        name="name"
      >
        <ElInput
          v-model="form.name"
          @input="$v.form.name.$touch()"
        />
      </AppFormItem>
      <AppFormItem
        label="No. Telepon"
        name="phoneNumber"
      >
        <ElInput
          v-model="form.phoneNumber"
          @input="$v.form.phoneNumber.$touch()"
        />
      </AppFormItem>
      <AppFormItem label="Alamat">
        <ElInput
          type="textarea"
          :rows="3"
          v-model="form.address"
        />
      </AppFormItem>
      <ElFormItem>
        <ElButton
          :disabled="$v.form.$invalid"
          v-loading="loading"
          type="success"
          @click="handleUpdate"
        >
          Ubah Profil
        </ElButton>
      </ElFormItem>
    </AppForm>
  </ElForm>
</template>

<script>
import { mapState, mapActions, mapMutations } from 'vuex'
import { required } from 'vuelidate/lib/validators'

export default {
  name: 'UserUpdateForm',

  computed: {
    ...mapState({
      form: state => state.auth.form,
      loading: state => state.auth.isUpdating,
      error: state => state.auth.isUpdatingError
    })
  },

  methods: {
    ...mapActions({
      update: 'auth/update'
    }),

    ...mapMutations({
      edit: 'auth/setEditing'
    }),

    async handleUpdate () {
      await this.update(this.form)
      if (this.error) return

      location.reload()
    }
  },

  mounted () {
    this.edit()
  },

  validations: {
    form: {
      name: { required },
      phoneNumber: { required }
    }
  }
}
</script>
