<template>
  <ElDialog
    :visible="value"
    @close="handleClose"
    width="40%"
  >
    <template #title>
      Tambah Jawaban
    </template>
    <ElForm>
      <ElAlert
        v-if="error"
        type="error"
        effect="dark"
        title="Gagal menambah jawaban"
      />
      <div>
        Menjawab pertanyaan <b>{{ question.title }}</b>
      </div>
      <AppForm :validator="$v.form">
        <AppFormItem
          label="Judul"
          name="title"
        >
          <ElInput
            v-model="form.title"
            @input="$v.form.title.$touch()"
          />
        </AppFormItem>
        <AppFormItem
          label="Deskripsi"
          name="description"
        >
          <ElInput
            type="textarea"
            :rows="8"
            v-model="form.description"
            @input="$v.form.description.$touch()"
          />
        </AppFormItem>
        <AppFormItem>
          <ElButton
            type="success"
            v-loading="loading"
            :disabled="$v.form.$invalid"
            @click="handleSubmit"
          >
            Tambah
          </ElButton>
        </AppFormItem>
      </AppForm>
    </ElForm>
  </ElDialog>
</template>

<script>
import { required } from 'vuelidate/lib/validators'
import { mapState, mapActions } from 'vuex'

export default {
  name: 'AnswerFormDialog',

  props: {
    value: {
      type: Boolean,
      required: true
    }
  },

  computed: {
    ...mapState({
      loading: state => state.author.isStoringAnswer,
      error: state => state.author.isStoringAnswerError
    })
  },

  data () {
    return {
      form: {
        title: '',
        description: ''
      },

      question: {}
    }
  },

  methods: {
    ...mapActions({
      storeAnswer: 'author/storeAnswer'
    }),

    handleClose () {
      this.$emit('input', false)
      this.$v.form.$reset()
      this.question = {}
      this.form = {
        title: '',
        description: ''
      }
    },

    setQuestion (question) {
      this.question = {
        ...question
      }
    },

    async handleSubmit () {
      const payload = {
        ...this.form,
        questionId: this.question.id
      }

      await this.storeAnswer(payload)

      if (this.error) return

      this.$emit('success')
      this.handleClose()
    }
  },

  validations: {
    form: {
      title: { required },
      description: { required }
    }
  }
}
</script>
