<template>
  <ElTag
    :type="tagType"
    effect="dark"
  >
    {{ tagText }}
  </ElTag>
</template>

<script>
export default {
  name: 'AppChip',

  props: {
    value: {
      type: Boolean,
      required: true
    }
  },

  computed: {
    tagType () {
      return this.value === true ? 'success' : 'danger'
    },

    tagText () {
      return this.value === true ? 'Lunas' : 'Belum Lunas'
    }
  }
}
</script>
