<template>
  <ElFormItem
    v-bind="$attrs"
    :label="label"
    :error="firstErrorMessage"
  >
    <slot />
  </ElFormItem>
</template>

<script>
import { singleErrorExtractorMixin } from 'vuelidate-error-extractor'

export default {
  name: 'AppFormItem',
  extends: singleErrorExtractorMixin,
  inheritAttrs: false
}
</script>
