<template>
  <div class="loading-placeholder" />
</template>

<style lang="scss">
@import '@/assets/styles/variables.scss';

.loading-placeholder {
  width: 100%;
  height: 30px;
  border-radius: 5px;
  margin: 10px 0;
  background-color: $main-grey;
}
</style>
