<template>
  <div class="app-layout">
    <div class="toolbar">
      <slot name="toolbar" />
    </div>
    <div class="content">
      <slot />
    </div>
  </div>
</template>

<script>
export default {
  name: 'AppLayout'
}
</script>

<style lang="scss">
@import '@/assets/styles/variables.scss';

.app-layout {
  width: 100%;

  .toolbar {
    min-height: 80px;
    background-color: $main-purple;
    color: $main-white;
    display: flex;
    justify-content: space-between;
    padding: 30px 120px;
    box-sizing: border-box;

    h2 {
      margin: 0;
    }
  }

  .content {
    background-color: $main-grey;
    min-height: 500px;
    padding: 30px 120px;
  }
}

@media only screen and (max-width: $md-breakpoint) {
  .app-layout .toolbar, .app-layout .content {
    padding: 30px;
  }
}

@media only screen and (max-width: $sm-breakpoint) {
  .app-layout .toolbar, .app-layout .content {
    padding: 30px 15px;
  }
}
</style>
