<template>
  <div class="app-navbar">
    <ElHeader height="80">
      <ElImage
        :src="image"
      />
      <div
        v-if="smallScreen"
        class="navigation"
      >
        <i
          class="el-icon-menu"
          @click="isCollapse = !isCollapse"
        />
      </div>
      <ElDrawer
        title="Menu"
        :visible="isCollapse"
        direction="rtl"
        @close="isCollapse = !isCollapse"
        size="100%"
      >
        <ElMenu mode="vertical">
          <div v-if="!isAuthenticated">
            <ElMenuItem>
              <router-link to="/login">Masuk</router-link>
            </ElMenuItem>
          </div>
          <div v-else>
            <div v-if="customerRole">
              <ElMenuItem>
                <router-link to="/">Beranda</router-link>
              </ElMenuItem>
              <ElMenuItem>
                <router-link to="/my/packages">Kuliahku</router-link>
              </ElMenuItem>
              <ElMenuItem>
                <router-link to="/my/profile">Profil</router-link>
              </ElMenuItem>
              <ElMenuItem>
                <router-link to="/my/setting">Pengaturan</router-link>
              </ElMenuItem>
              <ElMenuItem>
                <a @click="handleLogout">Keluar</a>
              </ElMenuItem>
            </div>

            <div v-if="authorRole">
              <ElMenuItem>
                <router-link to="/authors/profile">Halaman Penulis</router-link>
              </ElMenuItem>
              <ElMenuItem>
                <a @click="handleLogout">Keluar</a>
              </ElMenuItem>
            </div>
          </div>
        </ElMenu>
      </ElDrawer>
      <div
        v-if="!smallScreen"
        class="navigation"
      >
        <div v-if="!isAuthenticated">
          <router-link to="/login">Masuk</router-link>
        </div>
        <div v-else>
          <div v-if="customerRole">
            <router-link to="/">Beranda</router-link>
            <router-link to="/my/packages">Kuliahku</router-link>
            <ElDropdown @command="handleTo">
              <a>{{ name }}!</a>
              <ElDropdownMenu slot="dropdown">
                <ElDropdownItem :command="{ path: '/my/profile' }">
                  <router-link to="/my/profile">Profil</router-link>
                </ElDropdownItem>
                <ElDropdownItem :command="{ path: '/my/setting' }">
                  <router-link to="/my/setting">Pengaturan</router-link>
                </ElDropdownItem>
                <ElDropdownItem
                  :command="{ path: '/' }"
                  @click.native="handleLogout"
                >
                  <router-link
                    to="/"
                    @click.native="handleLogout"
                  >
                    Keluar
                  </router-link>
                </ElDropdownItem>
              </ElDropdownMenu>
            </ElDropdown>
          </div>
          <div v-if="authorRole">
            <router-link to="/authors/profile">Halaman Penulis</router-link>
            <router-link
              to="/"
              @click.native="handleLogout"
            >
              Keluar
            </router-link>
          </div>
        </div>
      </div>
    </ElHeader>
  </div>
</template>

<script>
import image from '@/assets/images/hompes-logo.png'
import { mapState, mapMutations } from 'vuex'

export default {
  name: 'AppNavbar',

  data () {
    return {
      image,
      isCollapse: false
    }
  },

  computed: {
    ...mapState({
      isAuthenticated: state => state.auth.isAuthenticated,
      loggedUser: state => state.auth.loggedUser
    }),

    name () {
      const splittedName = this.loggedUser.name.split(' ')

      return splittedName[0]
    },

    customerRole () {
      return this.loggedUser.roleId === 2
    },

    authorRole () {
      return this.loggedUser.roleId === 4
    },

    smallScreen () {
      return this.$mq === 'sm'
    }
  },

  methods: {
    ...mapMutations({
      logout: 'auth/logout'
    }),

    handleLogout () {
      this.logout()
    },

    handleTo (to) {
      this.$router.push(to)
    }
  }
}
</script>

<style lang="scss">
@import "@/assets/styles/variables.scss";

.app-navbar {
  .el-header {
    padding: 5px 120px !important;

    .el-image {
      width: 180px;
    }
  }

  .navigation {
    float: right;
    padding: 15px 5px 15px 0;

    a {
      text-decoration: none;
      color: black;
      margin: 0 10px;
    }
  }
}

.el-dropdown-menu .el-dropdown-menu__item a {
  text-decoration: none;
  color: black;
  margin: 0 10px;
}

@media only screen and (max-width: $md-breakpoint) {
  .app-navbar {
    .el-header {
      padding: 5px 10px !important;
    }

    a {
      color: black;
      text-decoration: none;
    }
  }
}

@media only screen and (max-width: $sm-breakpoint) {
  .el-icon-menu {
    font-size: 1.75rem;
  }
}
</style>
