<template>
  <div class="home">
    <ElCarousel>
      <ElCarouselItem>
        <div class="content">
          <h1>Belajar Islam Lebih Dalam Dengan Hompes!</h1>
          <p class="subtitle">
            Sudah tidak ada alasan untuk tidak belajar agama.
            Kini belajar agama bisa lewat smartphone-mu di mana dan kapan saja!
          </p>
          <ElButton
            type="success"
            round
            @click="toPackages"
          >
            Lihat Semua Paket
          </ElButton>
        </div>
      </ElCarouselItem>
    </ElCarousel>
    <div class="steps">
      <div class="steps-title">
        <h2><strong>Bingung</strong> caranya?</h2>
        <p class="subtitle">
          Ga usah bingung! Kamu cukup ikuti 3 langkah mudah di bawah ini untuk
          mulai belajar Islam menggunakan Hompes
        </p>
      </div>
      <div class="steps-content">
        <ElRow :gutter="16">
          <ElCol
            :md="8"
            :sm="24"
          >
            <ElCard class="step">
              <div class="step-img">
                <img src="../assets/images/icon-home-1.svg">
              </div>
              <h3 class="title">Pilih Paket Baca</h3>
              <p>
                Belum tau mulai dari mana? Kamu bisa mulai dengan melihat
                paket baca pilihan di bawah ini, setelah itu klik tombol beli.
              </p>
            </ElCard>
          </ElCol>
          <ElCol
            :md="8"
            :sm="24"
          >
            <ElCard class="step">
              <div class="step-img">
                <img src="../assets/images/icon-home-2.svg">
              </div>
              <h3 class="title">Bayar Paket</h3>
              <p>
                Hompes akan memberikan rincian transaksi seperti nomor rekening
                dan jumlah yang harus kamu transfer.
              </p>
            </ElCard>
          </ElCol>
          <ElCol
            :md="8"
            :sm="24"
          >
            <ElCard class="step">
              <div class="step-img">
                <img src="../assets/images/icon-home-3.svg">
              </div>
              <h3 class="title">Mulai Belajar</h3>
              <p>
                Setelah pembayaran kamu dikonfirmasi, kamu sudah dapat mempelajari
                paket yang kamu pilih. Simpel kan?
              </p>
            </ElCard>
          </ElCol>
        </ElRow>
        <ElRow>
          <ElButton
            type="success"
            round
            @click="toPackages"
          >
            Lihat Semua Paket
          </ElButton>
        </ElRow>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Home',

  methods: {
    toPackages () {
      this.$router.push({ name: 'packages.index' })
    }
  }
}
</script>

<style lang="scss">
@import "@/assets/styles/variables.scss";

.home {
  width: 100%;

  .el-button {
    margin-top: 20px;
  }

  .el-carousel__container {
    height: 550px;
  }

  .el-carousel {
    width: 100%;
    color: white;

    .content {
      width: 768px;
      margin: 0 auto;
      text-align: center;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);

      h1 {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 3.75rem;
      }

      p {
        font-size: 1.25rem;
      }
    }
  }

  .el-carousel__item {
    background: url('../assets/images/slides-1.jpg') no-repeat center top;
    background-size: cover;
  }

  .steps {
    padding: 30px 120px;
    text-align: center;
    background-color: $main-grey;

    .step {
      min-height: 360px;
    }

    .steps-title h2 {
      font-weight: 300;
      text-transform: uppercase;
      font-size: 2.25rem;
    }

    .steps-title p {
      font-size: 1.5rem;
      font-weight: 300;
    }

    .steps-content .title {
      text-transform: uppercase;
      font-size: 1.3rem;
      color: $main-green;
    }
  }
}

@media only screen and (max-width: $md-breakpoint) {
  .home .el-carousel .content {
    width: 100%;
    box-sizing: border-box;
    margin: auto;
    position: relative;
    padding: 6rem 0;

    h1 {
      font-size: 2.5rem;
    }

    p {
      font-size: 1rem;
    }
  }

  .steps .steps-title h2 {
    font-size: 1.75rem;
  }

  .steps .steps-title p {
    font-size: 1rem;
  }
}

@media only screen and (max-width: $sm-breakpoint) {
  .home .el-carousel__container {
    height: 600px;
  }

  .home .el-carousel .content {
    padding: 0;
  }

  .home .steps .steps-title h2 {
    font-size: 1.5rem;
  }

  .home .steps .steps-title p {
    font-size: 1rem;
  }

  .home .steps {
    padding: 20px;
  }
}
</style>
