<template>
  <div class="login">
    <ElRow
      type="flex"
      justify="center"
      align="middle"
    >
      <ElCol
        :md="8"
        :sm="24"
      >
        <div class="login-wrapper">
          <h4>Masuk ke Hompes!</h4>
          <ElCard>
            <p>Tidak punya akun? <router-link to="/register">Daftar Sekarang</router-link></p>
            <ElDivider>atau</ElDivider>
            <div
              v-if="isAuthenticating"
              v-loading="isAuthenticating"
            />
            <ElAlert
              v-if="isAuthenticatingError"
              type="error"
              effect="dark"
              title="Email / Password anda salah"
            />
            <ElAlert
              v-if="isAllow"
              type="error"
              effect="dark"
              title="Anda tidak memiliki akses masuk"
            />
            <ElForm v-if="!isAuthenticating">
              <ElFormItem>
                <ElInput
                  v-model="form.email"
                  placeholder="Email anda"
                />
              </ElFormItem>
              <ElFormItem>
                <ElInput
                  v-model="form.password"
                  type="password"
                  placeholder="Kata sandi anda"
                />
              </ElFormItem>
              <ElFormItem>
                <ElButton
                  round
                  type="success"
                  @click="handleLogin"
                >
                  Masuk
                </ElButton>
              </ElFormItem>
            </ElForm>
          </ElCard>
        </div>
      </ElCol>
    </ElRow>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'

export default {
  name: 'Login',

  data () {
    return {
      form: {
        email: '',
        password: ''
      },

      isAllow: false
    }
  },

  computed: {
    ...mapState({
      isAuthenticating: state => state.auth.isAuthenticating,
      isAuthenticatingError: state => state.auth.isAuthenticatingError,
      loggedUser: state => state.auth.loggedUser
    })
  },

  methods: {
    ...mapActions({
      auth: 'auth/auth'
    }),

    async handleLogin () {
      await this.auth(this.form)

      if (this.isAuthenticatingError) return

      if (this.loggedUser.roleId === 4) {
        this.$router.push({ name: 'authors.profile' })
      } else if (this.loggedUser.roleId === 2) {
        this.$router.push({ name: 'home' })
      } else {
        this.isAllow = true
      }
    }
  },

  destroyed () {
    this.isAllow = false
  }
}
</script>

<style lang="scss">
@import '@/assets/styles/variables.scss';

.login {
  width: 100%;

  .login-wrapper h4 {
    text-align: center;
    font-size: 1.75rem;
  }

  .login-wrapper a {
    text-decoration: none;
    color: $main-green;
    font-weight: bold;
  }

  .login-wrapper {
    text-align: center;
  }

  .login-wrapper .el-alert {
    margin-bottom: 10px;
  }
}
</style>
