<template>
  <div class="register">
    <ElRow
      type="flex"
      justify="center"
      align="middle"
    >
      <ElCol
        :md="8"
        :sm="24"
      >
        <div class="register-wrapper">
          <h4>Daftar ke Hompes!</h4>
          <ElCard>
            <p>Sudah punya akun? <router-link to="/login">Masuk Sekarang</router-link></p>
            <ElDivider>atau</ElDivider>
            <div
              v-if="isRegistering"
              v-loading="isRegistering"
            />
            <ElAlert
              v-if="isRegisteringError"
              type="error"
              effect="dark"
              :title="errorMessages"
            />
            <ElAlert
              v-if="isRegisteringSuccess"
              type="success"
              effect="dark"
              title="Pendaftaran berhasil!"
            />
            <ElForm v-if="!isRegistering">
              <ElFormItem>
                <ElInput
                  v-model="form.email"
                  placeholder="Email anda"
                />
              </ElFormItem>
              <ElFormItem>
                <ElInput
                  v-model="form.password"
                  type="password"
                  placeholder="Kata sandi anda"
                  show-password
                />
              </ElFormItem>
              <ElFormItem>
                <ElInput
                  v-model="form.confirmationPassword"
                  type="password"
                  placeholder="Konfimasi kata sandi anda"
                  show-password
                />
              </ElFormItem>
              <ElFormItem>
                <ElInput
                  v-model="form.fullName"
                  placeholder="Nama anda"
                />
              </ElFormItem>
              <ElFormItem>
                <ElInput
                  v-model="form.phoneNumber"
                  placeholder="Nomor telepon anda"
                />
              </ElFormItem>
              <ElFormItem>
                <ElButton
                  round
                  type="success"
                  @click="handleRegister"
                >
                  Daftar
                </ElButton>
              </ElFormItem>
            </ElForm>
          </ElCard>
        </div>
      </ElCol>
    </ElRow>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'

export default {
  name: 'Login',

  data () {
    return {
      form: {
        email: '',
        password: '',
        confirmationPassword: '',
        fullName: '',
        phoneNumber: ''
      }
    }
  },

  computed: {
    ...mapState({
      isRegistering: state => state.auth.isRegistering,
      isRegisteringSuccess: state => state.auth.isRegisteringSuccess,
      isRegisteringError: state => state.auth.isRegisteringError
    }),

    errorMessages () {
      if (this.isRegisteringError.message === 'Already taken') {
        return 'Email sudah digunakan'
      }

      return 'Periksa kembali input data anda'
    }
  },

  methods: {
    ...mapActions({
      register: 'auth/register'
    }),

    async handleRegister () {
      await this.register(this.form)
    }
  }
}
</script>

<style lang="scss">
@import '@/assets/styles/variables.scss';

.register {
  width: 100%;

  .register-wrapper h4 {
    text-align: center;
    font-size: 1.75rem;
  }

  .register-wrapper a {
    text-decoration: none;
    color: $main-green;
    font-weight: bold;
  }

  .register-wrapper {
    text-align: center;
  }

  .register-wrapper .el-alert {
    margin-bottom: 10px;
  }
}
</style>
