<template>
  <div>
    <slot
      :loading="loading"
      :error="error"
      :items="items"
    />
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'

export default {
  name: 'PackageControl',

  computed: {
    ...mapState({
      items: state => state.myPackage.myPackages,
      loading: state => state.myPackage.isFetching,
      error: state => state.myPackage.isFetchingError
    })
  },

  methods: {
    ...mapActions({
      get: 'myPackage/get'
    })
  },

  async mounted () {
    await this.get()
  }
}
</script>
