<template>
  <ElCard :body-style="{ padding: 0 }">
    <div class="card-title">
      <h3>Tentang Paket</h3>
    </div>
    <div class="card-content">
      <p class="description">{{ item.description }}</p>
      <ElDivider />
      <div class="book-list">
        <h3 class="title">Daftar Buku</h3>
        <ElRow>
          <ElCard
            v-for="book in item.books"
            :key="book.id"
            class="book-item"
          >
            <ElRow :gutter="10">
              <ElCol
                :span="4"
                :lg="4"
                :sm="24"
                :xs="24"
              >
                <ElImage
                  :src="book.photo"
                  class="rounded-img"
                >
                  <div slot="error">
                    <ElImage
                      :src="defaultImg"
                      class="rounded-img"
                    />
                  </div>
                </ElImage>
              </ElCol>
              <ElCol
                :span="20"
                :lg="20"
                :sm="24"
                :xs="24"
              >
                <small>HOMPES</small>
                <h3 class="title">{{ book.title }}</h3>
              </ElCol>
            </ElRow>
            <ElDivider />
            <div class="book-actions">
              <div class="author">
                {{ book.authors.data[0].title }}
                {{ book.authors.data[0].firstName }}
              </div>
              <ElButton
                round
                type="success-light"
                @click="$router.push({ name: 'books.details', params: { bookId: book.id } })"
              >
                Daftar Isi
              </ElButton>
            </div>
          </ElCard>
        </ElRow>
      </div>
    </div>
    <PackagePurchaseDrawer />
  </ElCard>
</template>

<script>
import { mapState } from 'vuex'
import PackagePurchaseDrawer from './PackagePurchaseDrawer'

export default {
  name: 'PackageDetail',

  components: {
    PackagePurchaseDrawer
  },

  computed: {
    ...mapState({
      item: state => state.bookPackage.item,
      loading: state => state.bookPackage.isFinding,
      error: state => state.bookPackage.isFindingError
    })
  },

  data () {
    return {
      defaultImg: process.env.VUE_APP_DEFAULT_IMAGE
    }
  }
}
</script>

<style scoped lang="scss">
@import '@/assets/styles/variables.scss';

.el-card {
  border-radius: 8px;
  margin-top: 10px;

  .card-title {
    min-height: 20px;
    background-color: $main-purple;
    padding: 8px 20px;
    color: white;
  }

  .card-content {
    padding: 14px 30px;

    .title {
      margin: 0;
      font-weight: 500;
      font-size: 1.4rem;
    }

    .description {
      color: #999;
    }

    .content-information h5 {
      margin-bottom: 0;
    }

    .book-list {
      margin-top: 20px;
    }

    .rounded-img {
      border-radius: 50%;
      width: 100px;
      height: 100px;
    }

    .author {
      margin-top: 10px;
    }

    .book-actions {
      padding-top: 10px;
      align-items: center;
      display: flex;
      justify-content: space-between;
    }
  }

  .card-actions {
    text-align: center;
    padding: 10px 0;
  }

  .el-divider {
    margin: 0;
  }
}

@media only screen and (max-width: $sm-breakpoint) {
  .book-item {
    text-align: center;
  }
}
</style>
