<template>
  <ElDrawer
    direction="rtl"
    :visible="isPurchaseDrawerOpen"
    @close="setPurchaseDrawer(false)"
    :size="scaleToSize"
  >
    <template #title>
      <h3>Beli Paket</h3>
    </template>
    <div class="body">
      <ElAlert
        v-if="error"
        effect="dark"
        type="error"
        title="Gagal menyimpan transaksi!"
      />
      <div>
        <p>{{ item.title }}</p>
        <h5>{{ item.price | rupiah }}</h5>
      </div>
      <div class="total">
        <h4>Total</h4>
        <h4>{{ item.price | rupiah }}</h4>
      </div>
      <div class="action">
        <ElButton
          type="success"
          v-loading="loading"
          @click="handleStore"
        >
          Beli
        </ElButton>
      </div>
    </div>
  </ElDrawer>
</template>

<script>
import { mapState, mapMutations, mapActions } from 'vuex'
import { rupiah } from '@/filters/currency'

export default {
  name: 'PackagePurchaseDrawer',

  computed: {
    ...mapState({
      item: state => state.bookPackage.item,
      error: state => state.myTransaction.isCreatingError,
      loading: state => state.myTransaction.isCreating,
      isPurchaseDrawerOpen: state => state.menu.isPurchaseDrawerOpen
    }),

    scaleToSize () {
      if (this.$mq === 'sm') return '100%'

      if (this.$mq === 'md') return '45%'

      return '30%'
    }
  },

  methods: {
    ...mapMutations({
      setPurchaseDrawer: 'menu/setPurchaseDrawer'
    }),

    ...mapActions({
      storeTransaction: 'myTransaction/store'
    }),

    async handleStore () {
      const payload = {
        packageId: this.item.id,
        amount: this.item.price
      }

      await this.storeTransaction(payload)

      if (this.error) return

      this.setPurchaseDrawer(false)
      this.$router.push({ name: 'myProfile.detail' })
    }
  },

  filters: {
    rupiah
  }
}
</script>

<style lang="scss">
@import '@/assets/styles/variables.scss';

.el-drawer {
  h3 {
    margin: 0;
  }

  .body {
    padding: 5px 30px;

    .total {
      display: flex;
      justify-content: space-between;
    }

    .el-button {
      margin-top: 10px;
      width: 100%;
    }

    button.el-button.el-button--success.el-loading-parent--relative {
      border: 1px solid $main-grey;
    }
  }
}
</style>
