<template>
  <AppLayout>
    <template #toolbar>
      <ElBreadcrumb separator-class="el-icon-arrow-right">
        <ElBreadcrumbItem :to="{ path: '/' }">Beranda</ElBreadcrumbItem>
        <ElBreadcrumbItem :to="{ path: '/my/packages' }">Paket Saya</ElBreadcrumbItem>
        <ElBreadcrumbItem
          :to="{ name: 'myPackages.detail', params: { id: $route.params.id } }"
        >
          Detail Paket Saya
        </ElBreadcrumbItem>
        <ElBreadcrumbItem>Baca Buku</ElBreadcrumbItem>
      </ElBreadcrumb>
    </template>
    <ElRow :gutter="20">
      <ElCol :sm="8" :xs="24">
        <ElCard :body-style="{ padding: 0 }">
          <ElImage
            :src="book.photo"
            style="height: 225px"
          >
            <div slot="error" class="image-slot">
              <ElImage :src="defaultImg" />
            </div>
          </ElImage>
          <div class="card-content">
            <small>{{ authors.title }} {{ authors.firstName }}</small>
            <h3 class="title">{{ book.title }}</h3>
            <span>Daftar Isi</span>
            <div class="content-information">
              <div
                class="section-group"
                v-for="(section, index) in sections"
                :key="index"
              >
                <div class="section-title">
                  {{ section.title }}
                </div>
                <li
                  class="section-item"
                  v-for="(content, index) in section.contents.data"
                  :key="index"
                >
                  <router-link
                    :to="{ name: 'myBooks.read', params: { id: $route.params.id, bookId: $route.params.bookId, contentId: content.id } }"
                    @click.native="readContent(content)"
                  >
                    {{ content.title }}
                  </router-link>
                </li>
              </div>
            </div>
          </div>
        </ElCard>
      </ElCol>
      <ElCol
        :sm="16"
        :xs="24"
      >
        <ElTabs
          v-loading="loading"
          type="card"
        >
          <ElTabPane label="Baca">
            <div class="title">
              <h3>{{ content.title }}</h3>
            </div>
            <div class="book-content">
              <p v-html="content.content" />
            </div>
          </ElTabPane>
          <ElTabPane>
            <span slot="label">
              Tanya Jawab
              <ElTag
                type="success"
                effect="plain"
                size="small"
              >
                {{ tickets.length }}
              </ElTag>
            </span>
            <div class="card-toolbar">
              <h3>Pertanyaan</h3>
              <ElButton
                type="success"
                size="small"
                @click="isShow = true"
              >
                Tambah Pertanyaan
              </ElButton>
            </div>
            <ElCard
              v-for="(ticket, index) in tickets"
              :key="index"
            >
              <div class="subtitle">
                Anda bertanya pada : {{ ticket.createdAt | extendedDate }}
              </div>
              <h3>{{ ticket.title }}</h3>
              <p class="description">{{ ticket.description }}</p>
              <div
                v-if="ticket.answers.data.length > 0"
                class="answer-box"
              >
                <small>Jawaban</small>
                <div
                  class="answer"
                  v-for="(answer, index) in ticket.answers.data"
                  :key="index"
                >
                  <div class="subtitle">
                    Penulis menjawab pada : {{ answer.createdAt | extendedDate }}
                  </div>
                  <h4>{{ answer.title }}</h4>
                  <p class="description">{{ answer.description }}</p>
                </div>
              </div>
            </ElCard>
            <QuestionFormDialog
              v-model="isShow"
              @success="getTicket($route.params.contentId)"
            />
          </ElTabPane>
        </ElTabs>
      </ElCol>
    </ElRow>
  </AppLayout>
</template>

<script>
import AppLayout from '@/components/layout/AppLayout'
import QuestionFormDialog from '@/components/modules/Question/QuestionFormDialog'
import { mapActions, mapState } from 'vuex'
import { extendedDate } from '@/filters/date'

export default {
  name: 'MyBookDetail',

  components: {
    AppLayout,
    QuestionFormDialog
  },

  computed: {
    ...mapState({
      book: state => state.myBook.book,
      content: state => state.myBook.content,
      loading: state => state.myBook.isFinding,
      error: state => state.myBook.isFindingError,

      tickets: state => state.myBook.tickets,
      isFetchingTicket: state => state.myBook.isFetchingTicket,
      isFetchingTicketError: state => state.myBook.isFetchingTicketError
    }),

    authors () {
      return this.book.authors ? this.book.authors.data[0] : []
    },

    sections () {
      return this.book.sections ? this.book.sections.data : []
    }
  },

  data () {
    return {
      defaultImg: process.env.VUE_APP_DEFAULT_IMAGE,
      isShow: false
    }
  },

  filters: {
    extendedDate
  },

  methods: {
    ...mapActions({
      read: 'myBook/read',
      getTicket: 'myBook/getTicket'
    }),

    async readContent (content) {
      await this.read({
        bookId: this.$route.params.bookId,
        contentId: content.id
      })
      await this.getTicket(content.id)
    }
  },

  async mounted () {
    await this.getTicket(this.$route.params.contentId)
    await this.read({
      bookId: this.$route.params.bookId,
      contentId: this.$route.params.contentId
    })
  }
}
</script>

<style scoped lang="scss">
@import '@/assets/styles/variables.scss';

.el-tab-pane {
  .title {
    background-color: $main-purple;
    color: white;
    padding: 3px 10px;
    border-radius: 5px;

    h3 {
      margin: 0;
      font-size: 1.1rem;
      font-weight: 500;
      text-transform: uppercase;
    }
  }

  .card-toolbar {
    display: flex;
    justify-content: space-between;

    h3 {
      margin-top: 0;
    }

    .el-button {
      margin-bottom: 10px;
    }
  }
}

.el-card {
  border-radius: 8px;
  margin-bottom: 10px;

  .subtitle {
    font-style: italic;
    font-size: 12px;
  }

  .description {
    margin-top: 0;
    font-size: 14px;
  }

  .answer-box {
    padding: 10px 20px;
    border-top: 1px solid $main-grey;

    .answer {
      border-bottom: 1px solid #999;
      margin: 5px 0;
      padding: 10px;
    }
  }

  .card-title {
    min-height: 20px;
    background-color: $main-purple;
    padding: 8px 20px;
    color: white;
  }

  .card-content {
    padding: 14px 30px;

    .title {
      margin: 0;
      margin-bottom: 20px;
      font-weight: 500;
      font-size: 1.4rem;
    }

    .content-information {
      margin-top: 20px;
    }

    .section-group {
      margin: 5px 0;
    }

    .section-title {
      font-weight: 700;
    }

    .section-item {
      list-style-type: none;
      padding-left: 10px;
      margin: 10px 0;

      a {
        color: $main-green;
        text-decoration: none;
      }
    }
  }

  .el-divider {
    margin: 0;
  }
}
</style>
