<template>
  <AppLayout>
    <template #toolbar>
      <ElBreadcrumb separator-class="el-icon-arrow-right">
        <ElBreadcrumbItem :to="{ path: '/' }">
          Beranda
        </ElBreadcrumbItem>
        <ElBreadcrumbItem>
          Daftar Paket
        </ElBreadcrumbItem>
      </ElBreadcrumb>
    </template>
    <PackageControl ref="package">
      <template slot-scope="{ loading, error, items }">
        <div
          v-if="loading"
          v-loading="loading"
        />
        <ElAlert
          v-if="error"
          title="Gagal mendapatkan data paket!"
          effect="dark"
          type="error"
        />
        <ElRow :gutter="10">
          <ElCol
            v-for="(item, index) in items"
            :key="index"
            :md="8"
            :sm="12"
            :xs="24"
          >
            <ElCard :body-style="{ padding: '0' }">
              <ElImage
                :src="item.photo"
                style="height: 225px"
              >
                <div slot="error" class="image-slot">
                  <ElImage :src="defaultImg" />
                </div>
              </ElImage>
              <div class="card-content">
                <small>HOMPES</small>
                <h3 class="title">{{ item.title }}</h3>
                <p class="description">{{ item.description | textLimit(20) }}</p>
                <div class="subtitle">
                  <i class="el-icon-notebook-2"/> {{ item.books.data.length }} Buku
                </div>
              </div>
              <ElDivider />
              <div class="card-actions">
                <span>{{ item.price | rupiah }}</span>
                <ElButton
                  round
                  size="medium"
                  type="success-light"
                  @click="toDetailPage(item.id)"
                >
                  Detail Paket
                </ElButton>
              </div>
            </ElCard>
          </ElCol>
        </ElRow>
      </template>
    </PackageControl>
  </AppLayout>
</template>

<script>
import AppLayout from '@/components/layout/AppLayout'
import PackageControl from '@/components/modules/Package/PackageControl'
import { rupiah } from '@/filters/currency'
import { textLimit } from '@/filters/word'

export default {
  name: 'Package',

  components: {
    AppLayout,
    PackageControl
  },

  data () {
    return {
      defaultImg: process.env.VUE_APP_DEFAULT_IMAGE
    }
  },

  methods: {
    toDetailPage (id) {
      this.$router.push({ name: 'packages.details', params: { id: id } })
    }
  },

  filters: {
    rupiah,
    textLimit
  }
}
</script>

<style scoped lang="scss">
@import '@/assets/styles/variables.scss';

.el-card {
  margin-top: 5px;
  border-radius: 10px;

  .card-content {
    padding: 14px;
  }

  .card-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 10px 20px;
  }

  .el-divider {
    margin: 10px 0;
  }

  .title {
    margin: 0;
    color: $main-green;
  }

  .subtitle {
    color: #8795a1;
    font-size: 0.9rem;
  }
}
</style>
