<template>
  <AppLayout>
    <template #toolbar>
      <ElBreadcrumb separator-class="el-icon-arrow-right">
        <ElBreadcrumbItem :to="{ path: '/' }">
          Beranda
        </ElBreadcrumbItem>
        <ElBreadcrumbItem :to="{ path: '/packages' }">
          Paket Buku
        </ElBreadcrumbItem>
        <ElBreadcrumbItem>
          Detail Paket
        </ElBreadcrumbItem>
      </ElBreadcrumb>
    </template>
    <div
      v-if="loading"
      v-loading="loading"
    />
    <ElRow
      v-if="!loading"
      :gutter="20"
    >
      <ElCol
        :lg="8"
        :md="8"
        :sm="24"
      >
        <ElCard :body-style="{ padding: 0 }">
          <ElImage
            :src="item.photo"
            style="height: 225px"
          >
            <div slot="error" class="image-slot">
              <ElImage :src="defaultImg" />
            </div>
          </ElImage>
          <div class="card-content">
            <small>HOMPES</small>
            <h3 class="title">{{ item.title }}</h3>
            <ElTag effect="dark">
              <b>{{ item.price | rupiah }}</b>
            </ElTag>
            <div class="content-information">
              <h5>Informasi Paket</h5>
              <ul>
                <li>
                  Support untuk tanya jawab
                </li>
                <li>
                  Materi Permanen
                </li>
              </ul>
            </div>
            <ElDivider />
            <div class="content-information">
              <h5>Syarat - syarat</h5>
              <ul>
                <li>
                  Memiliki koneksi internet
                </li>
                <li>
                  Telah membeli paket
                </li>
              </ul>
            </div>
          </div>
          <ElDivider />
          <div class="card-actions">
            <ElButton
              v-if="isAuthenticated && isPackagePurchased"
              round
              type="success-light"
              @click="toMyPackage(item)"
            >
              Baca Sekarang
            </ElButton>
            <ElButton
              v-else-if="isAuthenticated"
              round
              type="success-light"
              @click="setPurchaseDrawer(true)"
            >
              Ambil Paket
            </ElButton>
          </div>
        </ElCard>
      </ElCol>
      <ElCol
        :sm="16"
        :xs="24"
      >
        <router-view />
      </ElCol>
    </ElRow>
  </AppLayout>
</template>

<script>
import AppLayout from '@/components/layout/AppLayout'
import { mapState, mapActions, mapMutations } from 'vuex'
import { rupiah } from '@/filters/currency'

export default {
  name: 'PackageDetail',

  components: {
    AppLayout
  },

  computed: {
    ...mapState({
      item: state => state.bookPackage.item,
      loading: state => state.bookPackage.isFinding,
      error: state => state.bookPackage.isFindingError,
      isAuthenticated: state => state.auth.isAuthenticated,
      isPackagePurchased: state => state.bookPackage.isPackagePurchased
    })
  },

  data () {
    return {
      defaultImg: process.env.VUE_APP_DEFAULT_IMAGE
    }
  },

  methods: {
    ...mapActions({
      find: 'bookPackage/find',
      validate: 'bookPackage/validatePackage'
    }),

    ...mapMutations({
      setPurchaseDrawer: 'menu/setPurchaseDrawer'
    }),

    toMyPackage (bookPackage) {
      this.$router.push({ name: 'myPackages.detail', params: { id: bookPackage.id } })
    }
  },

  filters: {
    rupiah
  },

  async mounted () {
    await this.find(this.$route.params.id)
    await this.validate(this.$route.params.id)
  }
}
</script>

<style scoped lang="scss">
@import '@/assets/styles/variables.scss';

.el-card {
  border-radius: 8px;
  margin-top: 10px;

  .card-title {
    min-height: 20px;
    background-color: $main-purple;
    padding: 8px 20px;
    color: white;
  }

  .card-content {
    padding: 14px 30px;

    .title {
      margin: 0;
      font-weight: 500;
      font-size: 1.4rem;
    }

    .description {
      color: #999;
    }

    .content-information h5 {
      margin-bottom: 0;
    }

    .book-list {
      margin-top: 20px;
    }

    .rounded-img {
      border-radius: 50%;
      width: 100px;
      height: 100px;
    }

    .author {
      margin-top: 10px;
    }

    .book-actions {
      padding-top: 10px;
      align-items: center;
      display: flex;
      justify-content: space-between;
    }
  }

  .card-actions {
    text-align: center;
    padding: 10px 0;
  }

  .el-divider {
    margin: 0;
  }
}

@media only screen and (max-width: $sm-breakpoint) {
  .book-item {
    text-align: center;
  }
}
</style>
