<template>
  <AppLayout>
    <template #toolbar>
       <ElBreadcrumb separator-class="el-icon-arrow-right">
        <ElBreadcrumbItem :to="{ path: '/' }">
          Beranda
        </ElBreadcrumbItem>
        <ElBreadcrumbItem>
          Konfirmasi Transaksi
        </ElBreadcrumbItem>
      </ElBreadcrumb>
    </template>
    <ElRow
      type="flex"
      justify="center"
      align="middle"
    >
      <ElCol
        :sm="16"
        :xs="24"
      >
        <ElCard>
          <ElForm>
            <ElAlert
              v-if="error"
              type="error"
              effect="dark"
              title="Gagal menyimpan data konfirmasi pembayaran"
            />
            <h2>Konfirmasi Bukti Pembayaran</h2>
            <small>
              Nomor Transaksi: <b>{{ transaction.number }}</b>
            </small>
            <br>
            <small>
              Jumlah yang harus dibayar: <b>{{ amountToPay | rupiah }}</b>
            </small>
            <AppForm :validator="$v.form">
              <AppFormItem
                label="Dari Bank"
                name="bankName"
              >
                <ElInput
                  v-model="form.bankName"
                  @input="$v.form.bankName.$touch()"
                />
              </AppFormItem>
              <AppFormItem
                label="Nama Pengirim"
                name="senderName"
              >
                <ElInput
                  v-model="form.senderName"
                  @input="$v.form.senderName.$touch()"
                />
              </AppFormItem>
              <AppFormItem
                label="Jumlah Terkirim"
                name="amount"
              >
                <ElInput
                  v-model.number="amountInput"
                  @input="$v.form.amount.$touch()"
                  @focus="isInputActive = true"
                  @blur="isInputActive = false"
                />
              </AppFormItem>
              <ElUpload
                :action="uploadUrl"
                list-type="picture"
                :on-success="handleSuccess"
              >
                <ElButton class="image-upload">
                  Unggah Gambar
                </ElButton>
              </ElUpload>
              <ElDivider />
              <ElButton
                type="success"
                v-loading="loading"
                :disabled="$v.form.$invalid"
                @click="handleConfirm"
              >
                Kirim
              </ElButton>
            </AppForm>
          </ElForm>
        </ElCard>
      </ElCol>
    </ElRow>
  </AppLayout>
</template>

<script>
import AppLayout from '@/components/layout/AppLayout'
import { rupiah } from '@/filters/currency'
import { required, numeric } from 'vuelidate/lib/validators'
import { mapState, mapActions } from 'vuex'

export default {
  name: 'ConfirmPayment',

  components: {
    AppLayout
  },

  computed: {
    ...mapState({
      loading: state => state.myTransaction.isConfirmPayment,
      error: state => state.myTransaction.isConfirmPaymentError,
      transaction: state => state.myTransaction.transaction
    }),

    amountToPay () {
      return this.transaction.amount + this.transaction.uniqueCode
    },

    amountInput: {
      get () {
        if (this.isInputActive) {
          return this.form.amount
        } else {
          return rupiah(this.form.amount)
        }
      },

      set (value) {
        this.form = {
          ...this.form,
          amount: value
        }
      }
    }
  },

  data () {
    return {
      form: {
        bankName: '',
        senderName: '',
        amount: 0,
        path: ''
      },

      isInputActive: false,
      uploadUrl: process.env.VUE_APP_IMAGE_UPLOAD_URL
    }
  },

  methods: {
    ...mapActions({
      confirm: 'myTransaction/confirmPayment',
      find: 'myTransaction/find'
    }),

    handleSuccess (response) {
      this.form = {
        ...this.form,
        path: response.name
      }
    },

    async handleConfirm () {
      const payload = {
        ...this.form,
        id: this.$route.params.id
      }

      await this.confirm(payload)

      if (this.error) return

      this.$notify({
        title: 'Berhasil',
        message: 'Konfirmasi pembayaran berhasil disimpan!',
        type: 'success'
      })
    }
  },

  async mounted () {
    await this.find(this.$route.params.id)
  },

  filters: {
    rupiah
  },

  validations: {
    form: {
      bankName: { required },
      senderName: { required },
      amount: { required, numeric }
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/assets/styles/variables.scss';

.image-upload {
  background-color: $main-purple;
  color: white;
}
</style>
