<template>
  <div id="app">
    <AppNavbar />
    <ElContainer>
      <router-view />
    </ElContainer>
  </div>
</template>

<script>
import AppNavbar from '@/components/layout/AppNavbar'

export default {
  name: 'App',

  components: {
    AppNavbar
  }
}
</script>
