@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
@import './variables.scss';

* {
  font-family: 'Poppins', sans-serif;
}

// override color schema
.el-button--success {
  background-color: $main-green;
  border-color: $main-green;
}

.el-button--success-light {
  border: 2px solid $main-green;
  color: $main-green;
}

.el-breadcrumb__inner, .el-breadcrumb__inner.is-link {
  color: white !important;
}

.el-alert--success.is-dark {
  background-color: $main-green;
  border-color: $main-green;
}

.el-tabs__header {
  margin: 0;
  border-bottom: none;
}

.el-tabs__item.is-top {
  color: $main-green;
}

.el-tabs__item.is-top.is-active {
  color: #333333;
}

.el-tabs__item.is-top.is-active {
  background-color: white;
}

.el-tab-pane {
  background-color: white;
  padding: 20px;
}

.el-radio-button__orig-radio:checked+.el-radio-button__inner {
  background-color: $main-green;
  border-color: $main-green;
}

// For text alignment from text editor
.ql-align-right {
  text-align: right;
}

.ql-align-center {
  text-align: center;
}

.ql-align-justify {
  text-align: justify;
}