<template>
  <AppLayout>
    <template #toolbar>
      <ElBreadcrumb separator-class="el-icon-arrow-right">
        <ElBreadcrumbItem :to="{ path: '/' }">
          Beranda
        </ElBreadcrumbItem>
        <ElBreadcrumbItem>
          Pengaturan Saya
        </ElBreadcrumbItem>
      </ElBreadcrumb>
    </template>
    <ElRow :gutter="20">
      <ElCol
        :sm="6"
        :xs="24"
      >
        <UserProfileCard />
      </ElCol>
      <ElCol
        :sm="18"
        :xs="24"
      >
        <ElTabs type="card">
          <ElTabPane label="Ubah Profil">
            <UserUpdateForm />
          </ElTabPane>
          <ElTabPane label="Ubah Kata Sandi">
            <UserUpdatePasswordForm />
          </ElTabPane>
        </ElTabs>
      </ElCol>
    </ElRow>
  </AppLayout>
</template>

<script>
import AppLayout from '@/components/layout/AppLayout'
import UserUpdateForm from '@/components/modules/User/UserUpdateForm'
import UserUpdatePasswordForm from '@/components/modules/User/UserUpdatePasswordForm'
import UserProfileCard from '@/components/modules/User/UserProfileCard'

export default {
  name: 'MyProfileSetting',

  components: {
    AppLayout,
    UserProfileCard,
    UserUpdateForm,
    UserUpdatePasswordForm
  }
}
</script>
