<template>
  <AppLayout>
    <template #toolbar>
      <ElBreadcrumb separator-class="el-icon-arrow-right">
        <ElBreadcrumbItem :to="{ path: '/' }">
          Beranda
        </ElBreadcrumbItem>
        <ElBreadcrumbItem>
          Profil Saya
        </ElBreadcrumbItem>
      </ElBreadcrumb>
    </template>
    <ElRow :gutter="20">
      <ElCol
        :sm="6"
        :xs="24"
      >
        <UserProfileCard />
      </ElCol>
      <ElCol
        :sm="18"
        :xs="24"
      >
        <ElTabs type="card">
          <ElTabPane label="Daftar Transaksi">
            <small>Filter</small>
            <ElRadioGroup
              v-model="currentTransaction"
              size="small"
              @change="handleFilterSelection"
            >
              <ElRadioButton :label="0">
                Semua
              </ElRadioButton>
              <ElRadioButton :label="1">
                Menunggu Pembayaran
              </ElRadioButton>
              <ElRadioButton :label="2">
                Menunggu Konfirmasi
              </ElRadioButton>
              <ElRadioButton :label="3">
                Sudah Dibayar
              </ElRadioButton>
            </ElRadioGroup>
            <TransactionControl ref="transaction">
              <template slot-scope="{ items, loading, error }">
                <div
                  v-if="loading"
                  v-loading="loading"
                />
                <ElAlert
                  v-if="error"
                  type="danger"
                  title="Gagal mendapatkan data transaksi!"
                />
                <ElTable
                  :data="items"
                  stripe
                >
                  <ElTableColumn label="No. Transaksi">
                    <template slot-scope="props">
                      <ElButton
                        type="text"
                        @click="showTransactionDetail(props.row.id)"
                      >
                        {{ props.row.number }}
                      </ElButton>
                    </template>
                  </ElTableColumn>
                  <ElTableColumn
                    prop="item.data.title"
                    label="Item"
                  />
                  <ElTableColumn label="Tanggal">
                    <template slot-scope="props">
                      {{ props.row.conductedAt | date }}
                    </template>
                  </ElTableColumn>
                  <ElTableColumn
                    label="Status"
                    width="200"
                  >
                    <template slot-scope="props">
                      <b>{{ props.row.status.data.name }}</b>
                    </template>
                  </ElTableColumn>
                  <ElTableColumn label="Jumlah">
                    <template slot-scope="props">
                      {{ props.row.amount | rupiah }}
                    </template>
                  </ElTableColumn>
                </ElTable>
              </template>
            </TransactionControl>
          </ElTabPane>
        </ElTabs>
      </ElCol>
      <TransactionDetailDialog
        v-model="isShow"
        ref="transactionDetail"
      />
    </ElRow>
  </AppLayout>
</template>

<script>
import AppLayout from '@/components/layout/AppLayout'
import TransactionControl from '@/components/modules/Transaction/TransactionControl'
import TransactionDetailDialog from '@/components/modules/Transaction/TransactionDetailDialog'
import UserProfileCard from '@/components/modules/User/UserProfileCard'
import { date } from '@/filters/date'
import { rupiah } from '@/filters/currency'

export default {
  name: 'MyProfile',

  components: {
    AppLayout,
    TransactionControl,
    TransactionDetailDialog,
    UserProfileCard
  },

  data () {
    return {
      currentTransaction: 0,

      isShow: false
    }
  },

  methods: {
    async handleFilterSelection (value) {
      var param = {}

      if (value !== 0) {
        param = {
          statusId: value
        }
      }

      await this.$refs.transaction.get(param)
    },

    async showTransactionDetail (id) {
      this.isShow = true
      await this.$refs.transactionDetail.find(id)
    }
  },

  filters: {
    date,
    rupiah
  }
}
</script>

<style lang="scss">
.el-radio-group {
  margin-left: 10px;
}
</style>
