<template>
  <ElDialog
    title="Detail Transaksi"
    :visible="value"
    :width="scaleToSize"
    @close="handleClose"
  >
    <ElAlert
      v-if="error"
      type="error"
      title="Gagal mendapatkan data transaksi"
      effect="dark"
    />
    <AppLoadingPlaceholder v-if="loading" />
    <ElRow v-else>
      <ElCol
        :sm="8"
        :xs="24"
      >
        <p class="label">
          Nomor Transaksi:
        </p>
        <p class="value">
          <b>{{ transaction.number }}</b>
        </p>
      </ElCol>
      <ElCol
        :sm="8"
        :xs="24"
      >
        <p class="label">
          Status Pembelian:
        </p>
        <p class="value">
          <b>
            {{
              transaction.status
                ? transaction.status.data.name
                : '-'
            }}
          </b>
        </p>
      </ElCol>
      <ElCol
        :sm="8"
        :xs="24"
      >
        <p class="label">
          Tanggal Pembelian:
        </p>
        <p class="value">
          <b>{{ transaction.conductedAt | date }}</b>
        </p>
      </ElCol>
    </ElRow>
    <AppLoadingPlaceholder v-if="loading" />
    <ElRow v-else>
      <ElCol
        :sm="8"
        :xs="24"
      >
        <p class="label">
          Paket yang dibeli:
        </p>
        <p class="value">
          <b>
            {{
              transaction.item
                ? transaction.item.data.title
                : '-'
            }}
          </b>
        </p>
      </ElCol>
      <ElCol
        :sm="8"
        :xs="24"
      >
        <p class="label">
          Kode Unik:
        </p>
        <p class="value">
          <b>{{ transaction.uniqueCode }}</b>
        </p>
      </ElCol>
      <ElCol
        :sm="8"
        :xs="24"
      >
        <p class="label">
          Jumlah:
        </p>
        <p class="value">
          <b>{{ transaction.amount | rupiah }}</b>
        </p>
      </ElCol>
    </ElRow>
    <ElRow>
      <ElButton
        type="warning"
        :disabled="statusId == 2 || statusId == 3"
        @click="toConfirmTransactionPage(transaction.id)"
      >
        Konfirmasi
      </ElButton>
    </ElRow>
  </ElDialog>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import { rupiah } from '@/filters/currency'
import { date } from '@/filters/date'
import AppLoadingPlaceholder from '@/components/layout/AppLoadingPlaceholder'

export default {
  name: 'TransactionDetailDialog',

  props: {
    value: {
      type: Boolean,
      required: true
    }
  },

  components: {
    AppLoadingPlaceholder
  },

  computed: {
    ...mapState({
      transaction: state => state.myTransaction.transaction,
      loading: state => state.myTransaction.isFinding,
      error: state => state.myTransaction.isFindingError
    }),

    scaleToSize () {
      if (this.$mq === 'sm') return '100%'

      return '%50'
    },

    statusId () {
      return this.transaction.status
        ? this.transaction.status.data.id
        : 0
    }
  },

  methods: {
    ...mapActions({
      find: 'myTransaction/find'
    }),

    toConfirmTransactionPage (id) {
      this.$router.push({ name: 'confirmationTransaction.index', params: { id: id } })
    },

    handleClose () {
      this.$emit('input', false)
    }
  },

  filters: {
    date,
    rupiah
  }
}
</script>
