<template>
  <div>
    <slot
      :items="items"
      :loading="loading"
      :error="error"
    />
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'

export default {
  name: 'TransactionControl',

  computed: {
    ...mapState({
      items: state => state.myTransaction.transactions,
      loading: state => state.myTransaction.isFetching,
      error: state => state.myTransaction.isFetchingError
    })
  },

  methods: {
    ...mapActions({
      get: 'myTransaction/get'
    })
  },

  async mounted () {
    await this.get({})
  }
}
</script>
