<template>
  <AppLayout>
    <template #toolbar>
      <ElBreadcrumb separator-class="el-icon-arrow-right">
        <ElBreadcrumbItem :to="{ path: '/' }">
          Beranda
        </ElBreadcrumbItem>
        <ElBreadcrumbItem>
          Paket Saya
        </ElBreadcrumbItem>
      </ElBreadcrumb>
    </template>
    <ElRow :gutter="20">
      <ElCol
        :sm="18"
        :xs="24"
      >
        <MyPackageControl>
          <template slot-scope="{ loading, error, items }">
            <div
              v-if="loading"
              v-loading="loading"
            />
            <ElAlert
              v-if="error"
              title="Gagal mendapatkan data paket!"
              effect="dark"
              type="error"
            />
            <ElCard
              v-for="(item, index) in items"
              :key="index"
              :md="8"
              :sm="12"
              :xs="24"
            >
              <ElRow>
                <ElCol
                  :span="4"
                  :lg="4"
                  :sm="24"
                  :xs="24"
                >
                  <ElImage
                    :src="item.photo"
                    class="rounded-img"
                  >
                    <div slot="error" class="image-slot">
                      <ElImage
                        :src="defaultImg"
                        class="rounded-img"
                      />
                    </div>
                  </ElImage>
                </ElCol>
                <ElCol
                  :span="20"
                  :lg="20"
                  :sm="24"
                  :xs="24"
                >
                  <small>HOMPES</small>
                  <h3 class="title">{{ item.title }}</h3>
                  <p class="description">{{ item.description | textLimit }}</p>
                </ElCol>
              </ElRow>
              <ElDivider />
              <div class="package-actions">
                <ElButton
                  round
                  type="success-light"
                  @click="$router.push({ name: 'myPackages.detail', params: { id: item.id } })"
                >
                  Detail Paket
                </ElButton>
              </div>
            </ElCard>
          </template>
        </MyPackageControl>
      </ElCol>
      <ElCol
        :sm="6"
        :xs="24"
      >
        <h5>Baca Buku Terakhir</h5>
        <ElDivider />
        <div
          v-if="loading"
          v-loading="loading"
        />
        <div v-if="!loading && books.length > 0">
          <ElRow
            v-for="(book, index) in books"
            :key="index"
          >
            <div class="latest-read">
              <ElCol
                :xs="10"
                :sm="10"
              >
                <ElImage
                  :src="book.book.photo"
                  class="img"
                >
                  <div slot="error" class="image-slot">
                    <ElImage
                      :src="defaultImg"
                      class="img"
                    />
                  </div>
                </ElImage>
              </ElCol>
              <ElCol
                :xs="12"
                :sm="12"
              >
                <small class="date">{{ book.last_read_at | date }}</small>
                <h4>{{ book.book.title }}</h4>
              </ElCol>
            </div>
          </ElRow>
        </div>
      </ElCol>
    </ElRow>
  </AppLayout>
</template>

<script>
import AppLayout from '@/components/layout/AppLayout'
import MyPackageControl from '@/components/modules/Package/MyPackageControl'
import { date } from '@/filters/date'
import { textLimit } from '@/filters/word'
import { mapActions, mapState } from 'vuex'

export default {
  name: 'MyPackage',

  components: {
    AppLayout,
    MyPackageControl
  },

  computed: {
    ...mapState({
      books: state => state.myBook.books,
      loading: state => state.myBook.isFetching
    })
  },

  data () {
    return {
      defaultImg: process.env.VUE_APP_DEFAULT_IMAGE
    }
  },

  methods: {
    ...mapActions({
      get: 'myBook/get'
    })
  },

  filters: {
    date,
    textLimit
  },

  async mounted () {
    await this.get()
  }
}
</script>

<style lang="scss" scoped>
@import '@/assets/styles/variables.scss';

.el-card {
  border-radius: 8px;
  margin-top: 10px;

  .rounded-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }

  .title {
    margin: 0;
    font-weight: 500;
    font-size: 1.4rem;
  }

  .description {
    color: #999;
  }

  .el-divider {
    margin: 0;
  }

  .package-actions {
    display: flex;
    padding-top: 10px;
    justify-content: flex-end;
    align-items: center;
  }
}

.latest-read {
  .img {
    border-radius: 5px;
    width: 100px;
    height: 100px;
  }

  .date {
    color: #999;
  }

  h4 {
    margin: 0;
  }
}

@media only screen and (max-width: $sm-breakpoint) {
  .el-card {
    text-align: center;
  }
}
</style>
