<template>
  <AppLayout>
    <template #toolbar>
      <ElBreadcrumb separator-class="el-icon-arrow-right">
        <ElBreadcrumbItem :to="{ path: '/' }">
          Beranda
        </ElBreadcrumbItem>
        <ElBreadcrumbItem :to="{ path: '/my/packages' }">
          Paket Saya
        </ElBreadcrumbItem>
        <ElBreadcrumbItem>
          Detail Paket Saya
        </ElBreadcrumbItem>
      </ElBreadcrumb>
    </template>
    <ElRow :gutter="20">
      <ElCol
        :sm="16"
        :xs="24"
      >
        <ElCard :body-style="{ padding: 0 }">
          <div class="card-title">
            <h3>Tentang Paket</h3>
          </div>
          <div class="card-content">
            <p class="description">{{ item.description }}</p>
            <ElDivider />
            <div class="book-list">
              <h3 class="title">Daftar Buku</h3>
              <ElRow>
                <ElCard
                  v-for="book in books"
                  :key="book.id"
                  class="book-item"
                >
                  <ElRow :gutter="10">
                    <ElCol
                      :span="4"
                      :lg="4"
                      :sm="24"
                      :xs="24"
                    >
                      <ElImage
                        :src="book.photo"
                        class="rounded-img"
                      >
                        <div slot="error">
                          <ElImage
                            :src="defaultImg"
                            class="rounded-img"
                          />
                        </div>
                      </ElImage>
                    </ElCol>
                    <ElCol
                      :span="20"
                      :lg="20"
                      :sm="24"
                      :xs="24"
                    >
                      <small>HOMPES</small>
                      <h3 class="title">{{ book.title }}</h3>
                      <p class="description">{{ book.description }}</p>
                    </ElCol>
                  </ElRow>
                  <ElDivider />
                  <div class="book-actions">
                    <div class="author">
                      {{ book.authors.data[0].title }}
                      {{ book.authors.data[0].firstName }}
                    </div>
                    <ElButton
                      round
                      type="success-light"
                      @click="toReadPage(book)"
                    >
                      Baca Buku
                    </ElButton>
                  </div>
                </ElCard>
              </ElRow>
            </div>
          </div>
        </ElCard>
      </ElCol>
      <ElCol
        :sm="8"
        :xs="24"
      >
        <ElCard :body-style="{ padding: 0 }">
          <ElImage
            :src="item.photo"
            style="height: 225px"
          >
            <div slot="error" class="image-slot">
              <ElImage :src="defaultImg" />
            </div>
          </ElImage>
          <div class="card-content">
            <small>HOMPES</small>
            <h3 class="title">{{ item.title }}</h3>
            <div class="content-information">
              <h5>Informasi Paket</h5>
              <ul>
                <li>
                  Support untuk tanya jawab
                </li>
                <li>
                  Materi Permanen
                </li>
              </ul>
            </div>
            <ElDivider />
            <div class="content-information">
              <h5>Syarat - syarat</h5>
              <ul>
                <li>
                  Memiliki koneksi internet
                </li>
                <li>
                  Telah membeli paket
                </li>
              </ul>
            </div>
          </div>
        </ElCard>
      </ElCol>
    </ElRow>
  </AppLayout>
</template>

<script>
import AppLayout from '@/components/layout/AppLayout'
import { mapState, mapActions } from 'vuex'

export default {
  name: 'MyPackageDetail',

  components: {
    AppLayout
  },

  computed: {
    ...mapState({
      item: state => state.myPackage.myPackage,
      loading: state => state.myPackage.isFinding,
      error: state => state.myPackage.isFindingError
    }),

    books () {
      return this.item.books ? this.item.books.data : []
    }
  },

  data () {
    return {
      defaultImg: process.env.VUE_APP_DEFAULT_IMAGE
    }
  },

  methods: {
    ...mapActions({
      find: 'myPackage/find'
    }),

    toReadPage (book) {
      const contentId = book.sections.data[0].contents.data[0].id

      this.$router.push(
        {
          name: 'myBooks.read',
          params: {
            id: this.$route.params.id,
            bookId: book.id,
            contentId: contentId
          }
        }
      )
    }
  },

  async mounted () {
    await this.find(this.$route.params.id)
  }
}
</script>

<style scoped lang="scss">
@import '@/assets/styles/variables.scss';

.el-card {
  border-radius: 8px;
  margin-top: 10px;

  .card-title {
    min-height: 20px;
    background-color: $main-purple;
    padding: 8px 20px;
    color: white;
  }

  .card-content {
    padding: 14px 30px;

    .title {
      margin: 0;
      font-weight: 500;
      font-size: 1.4rem;
    }

    .description {
      color: #999;
    }

    .content-information h5 {
      margin-bottom: 0;
    }

    .book-list {
      margin-top: 20px;
    }

    .rounded-img {
      border-radius: 50%;
      width: 100px;
      height: 100px;
    }

    .author {
      margin-top: 10px;
    }

    .book-actions {
      padding-top: 10px;
      align-items: center;
      display: flex;
      justify-content: space-between;
    }
  }

  .card-actions {
    text-align: center;
    padding: 10px 0;
  }

  .el-divider {
    margin: 0;
  }
}

@media only screen and (max-width: $sm-breakpoint) {
  .book-item {
    text-align: center;
  }
}
</style>
